
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">BANKART</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="    padding: 2rem 2rem;">
      <div class="lead"><b>Looking for a loan? We make it easy as 1, 2, 3</b><br/>
        <ul class="list-group">
          <li class="list-group-item" style="width: 50%; background-color: #e9ecef; border: none;padding:.35rem 1.25rem;">1. Simple 100% online process.</li>
          <li class="list-group-item" style="width: 50%; background-color: #e9ecef; border: none;padding:.35rem 1.25rem;">2. Approval decision with in minutes.</li>
          <li class="list-group-item" style="width: 50%; background-color: #e9ecef; border: none;padding:.35rem 1.25rem;">3. Funds are promptly available.</li>
        </ul>
        <span><b>Select a loan type below to get started</b></span>
        </div>
    </header>
    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/home.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Home</h4>
            <p class="card-text">I need a home loan</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/personal.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Personal</h4>
            <p class="card-text">I need a personal loan!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="images/quickcash.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Quick Cash</h4>
            <p class="card-text">I need quick cash</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="images/car.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Car</h4>
            <p class="card-text">I need a car loan</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; BANKART 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  